{% extends 'layouts/base-styles.html' %}
{% load static %}
{% block title %}Taller Mecanico - Recepcion{% endblock %}
{% block content %}
<div class="flex w-full min-h-full bg-greenDarkest">
    <div class="w-full p-8 contenido">
        <a href="{% url 'logout' %}" class="p-3 mt-1 transition rounded text-green1 bg-greenDark hover:text-clay">Cerrar sesión</a>
        <a href="{% url 'recepcion' %}" class="p-3 mt-1 transition rounded text-green1 bg-greenDark hover:text-greenDarkest">Reparaciones</a>
        <a href="{% url 'facturas' %}" class="p-3 mt-1 transition rounded text-green1 bg-greenDark hover:text-greenDarkest">Facturas</a>
        <h1 class="mb-12 text-5xl font-bold text-center text-green1">Recepción</h1>
        <div class="flex flex-col w-full gap-4">
            <div class="flex justify-center gap-3 mb-8 opciones">
                <div class="w-[75%] h-auto">

                    <h2 class="text-3xl font-bold text-center text-green1">Crear nueva reparación</h2>
                    <form action="{% url 'recepcion' %}" method="post">
                        {% csrf_token %}
                        {% for field in form_crear_reparacion %}
                            <div class="flex items-center justify-center w-full inputContainer">
                                <div class="flex flex-col w-full mx-auto mt-12">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <button type="submit" name="action" value="coche_nuevo" class="flex justify-center w-auto p-2 mt-2 text-base font-bold transition bg-transparent border cursor-pointer text-green1 rounded-xl border-green1 hover:bg-greenDark">Insertar nuevo coche</button>
                        <button type="submit" value="crear_reparacion" class="flex justify-center w-full p-3 mx-auto mt-2 font-bold transition bg-transparent border cursor-pointer text-green1 rounded-xl border-green1 hover:bg-greenDark" name="action">Crear reparación</button>
                    </form>
                    {% if message != null %}
                    <p class="p-2 text-center bg-transparent rounded mt-7 text-green1">{{ message }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="">
                <h2 class="text-3xl font-bold text-center text-green1">Reparaciones</h2>
                {% if todo %}
                    <div class="flex justify-center w-full"><a href="{% url 'recepcion'%}" class="mx-auto text-lg text-center underline text-green1">Mostrar cerradas</a></div>
                {% else %}
                    <div class="flex justify-center w-full"><a href="{% url 'recepcion'%}?todo=true" class="mx-auto text-lg text-center underline text-green1">Mostrar todo</a></div>
                {% endif %}

                <div class="flex flex-wrap justify-center gap-2 mt-8 reparaciones">
                    {% for reparacion in reparaciones %}
                        <div class="p-4 rounded-xl reparacion bg-transparent border-green1  transition border w-[400px] h-auto flex flex-col justify-center">
                            <p class="text-center text-green1 whitespace-nowrap">Estado<br>
                                {% if reparacion.estado == 'C' %}    
                                    Cerrada
                                {% endif %}
                                {% if reparacion.estado == 'A' %}    
                                    Abierta
                                {% endif %}
                                {% if reparacion.estado == 'R' %}    
                                    Rechazada
                                {% endif %}
                                {% if reparacion.estado == 'F' %}    
                                    Facturada
                                {% endif %}
                            </p>
                            <div class="w-full h-[1px] bg-greenDark"></div>
                            <p class="text-center text-green1 whitespace-nowrap">Cliente<br>{{reparacion.cliente}}</p>
                            <div class="w-full h-[1px] bg-greenDark"></div>
                            <p class="text-center text-green1">Coche<br>{{reparacion.coche|truncatechars:8}}</p>
                            <div class="w-full h-[1px] bg-greenDark"></div>
                            <p class="text-center text-green1">Fecha<br>{{reparacion.fecha|date:"d-m-Y"}}</p>
                            <div class="w-full h-[1px] bg-greenDark mb-2"></div>
                            {% if reparacion.estado == "C" %}
                                <a href="{% url 'reparacion_recepcion' id=reparacion.id%}" class="w-auto h-auto p-1 mx-auto text-center transition bg-transparent border border-green1 text-green1 hover:bg-greenDark">Gestionar reparacion <i class="fa-solid fa-pencil"></i></a>
                            {% endif %}
                        </div>
    
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function() {
        $("input[value=coche_nuevo]").prop("disabled", true)
        $("#cochesSelect").append($("<option>").text("---------").val("-1"));
        $("#clientesSelect").change(function() {
        let selected_value = $(this).val();
        $.ajax({
            //url: `http://127.0.0.1:8000/get_coches_cliente/${selected_value}`, // Replace with your view URL
            url: `{% url 'get_coches_cliente'%}`,
            type: "GET",
            data: {
            cliente_id: selected_value
            },
            success: function(data) {
                console.info(data);
                $("#cochesSelect").empty(); 
                $("#cochesSelect").append($("<option>").text("---------").val("-1"));
                $(data).each(function(i,e){
                    $("#cochesSelect").append($("<option>").text(e.matricula + " - " + e.modelo).val(e.matricula));
                });
            },
            error: function(data) {
                console.log(data);
            }
        });
        });
    });
</script>
{% endblock %}