{% extends 'layouts/base-styles.html' %}
{% load static %}
{% block title %}Taller Mecanico - Mecanico{% endblock %}
{% block content %}
<div class="flex w-full min-h-full bg-greenDarkest">
    <div class="w-full p-8 contenido">
        <h1 class="mb-4 text-4xl text-center text-green1">Mecánico</h1>
        <div class="w-full h-1 bg-greenDark"></div>
        <h2 class="mt-8 text-3xl text-center underline transition cursor-pointer text-green1 reparacionesVolver hover:scale-110">Reparaciones</h2>
        <form>
            <div class="flex flex-wrap justify-center gap-2 mt-8 reparaciones">
                    <div class="p-4 rounded-xl reparacion bg-transparent border-green1  transition border w-[100%] h-auto flex flex-col justify-center">
                        <p class="text-center text-green1 whitespace-nowrap">Cliente<br>{{reparacion.cliente}}</p>
                        <div class="w-full h-[1px] bg-greenDark"></div>
                        <p class="text-center text-green1">Coche<br>{{reparacion.coche}}</p>
                        <div class="w-full h-[1px] bg-greenDark"></div>
                        <p class="text-center text-green1">Fecha<br>{{reparacion.fecha|date:"d-m-Y"}}</p>
                        <div class="w-full h-[1px] bg-greenDark mb-2"></div>
                        <div class="flex justify-center">
                            <div>
                                <a class="w-40 h-auto p-1 mx-auto text-center transition bg-transparent border cursor-pointer border-green1 text-green1 hover:bg-greenDark rechazar">Rechazar reparacion <i class="fa-regular fa-circle-xmark"></i></a>
                                <a href="{% url 'agregar_linea' id_reparacion=reparacion.id%}" class="w-40 h-auto p-1 mx-auto text-center transition bg-transparent border border-green1 text-green1 hover:bg-greenDark">Agregar linea <i class="fa-solid fa-square-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex mt-8 crearLinea">
                    <div class="w-[33.3%] flex">
                        <div class="relative flex flex-col gap-1 p-2 rounded-lg bg-greenDark">
                            <p class="font-bold text-green1">Tipo de linea</p>
                            <div class="flex w-full gap-2 opciones">
                                    <div class="flex items-center justify-center p-3 bg-transparent border rounded-full cursor-pointer opcion mecanico border-green1 group">
                                        <img src="{% static 'imgs/mechanic.svg'%}" class="object-cover w-10 h-10">
                                        <div class="absolute flex items-center justify-center w-auto h-full p-3 transition duration-300 border rounded-md opacity-0 bg-greenDark top-full border-green1 child group-hover:opacity-95">
                                            <p class="text-center text-green1">Trabajos que hace el mecanico</p>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-center p-3 bg-transparent border rounded-full cursor-pointer opcion pack border-green1 group">
                                        <img src="{% static 'imgs/pack.svg' %}" class="object-cover w-10 h-10">
                                        <div class="absolute flex items-center justify-center w-auto h-full p-3 transition duration-300 border rounded-md opacity-0 bg-greenDark top-full border-green1 child group-hover:opacity-95">
                                            <p class="text-center text-green1">Pack</p>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-center p-3 bg-transparent border rounded-full cursor-pointer opcion pieza border-green1 group">
                                        <img src="{% static 'imgs/wrench.svg' %}" class="object-cover w-10 h-10">
                                        <div class="absolute flex items-center justify-center w-auto h-full p-3 transition duration-300 border rounded-md opacity-0 bg-greenDark top-full border-green1 child group-hover:opacity-95">
                                            <p class="text-center text-green1">Piezas de recambio</p>
                                        </div>  
                                    </div>
                                    <div class="flex items-center justify-center p-3 bg-transparent border rounded-full cursor-pointer opcion otro border-green1 group">
                                        <img src="{% static 'imgs/other.svg' %}" class="object-cover w-10 h-10">
                                        <div class="absolute flex items-center justify-center w-auto h-full p-3 transition duration-300 border rounded-md opacity-0 bg-greenDark top-full border-green1 child group-hover:opacity-95">
                                            <p class="text-center text-green1">Otro</p>
                                        </div>  
                                    </div>
                                    <div class="absolute left-0 flex items-center justify-center w-full h-full transition duration-300 border rounded-md opacity-0 top-full bg-green1 relleno border-green1 child group-hover:opacity-75"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-center w-[33.3%] inputs">
                        <p class="text-center text-green1">Elige un tipo de línea</p>
                    </div>
                </div>
                <p class="mt-8 mb-3 text-2xl text-center text-green1">Líneas</p>
                <div class="flex flex-col gap-5 lineas">
                    {% for linea in lineas %}
                    <div class="flex w-full p-3 rounded-lg linea bg-greenDark">
                        <div class="flex w-[80%] gap-7">
                            <div class="w-[20%]">
                                <p class="font-bold text-green1">Descripción</p>
                                <p class="text-green1">{{linea.tarea}}</p>
                            </div>
                            <div class="w-[20%]">
                                <p class="font-bold text-green1">Tipo de línea</p>
                                {% if linea.tipo.tipo == "O" %}
                                    <p class="text-green1">Otros</p>
                                {% elif linea.tipo.tipo == "M" %}
                                    <p class="text-green1">Trabajos de mecánico</p>
                                {% elif linea.tipo.tipo == "P" %}
                                    <p class="text-green1">Pack</p>
                                {% elif linea.tipo.tipo == "R" %}
                                    <p class="text-green1">Pieza de recambio</p>
                                {% endif %}
                            </div>
                            <div class="w-[20%]">
                                <p class="font-bold text-green1">Coste total</p>
                                <p class="text-green1">{{ linea.precio_total }} €</p>
                            </div>
                            <div class="w-[20%]">
                                <p class="font-bold text-green1">Cantidad/horas </p>
                                <p class="text-green1">{{ linea.cantidad}} </p>
                            </div>
                            <div class="w-[20%]">
                                <p class="font-bold text-green1">Precio</p>
                                <p class="text-green1">{{ linea.precio }} €</p>
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <a href="#" class="w-40 h-auto p-1 mx-auto text-center transition bg-transparent border border-green1 text-green1 hover:bg-greenDarkest">Eliminar línea<i class="p-2 fa-regular fa-circle-xmark"></i></a>
                            <a href="" class="w-40 h-auto p-1 mx-auto text-center transition bg-transparent border border-green1 text-green1 hover:bg-greenDarkest">Modificar línea<i class="p-2 fa-solid fa-pencil"></i></a>
                        </div>
                    </div>
                    {% empty %}
                        <p class="text-center text-green1">Esta reparación no tiene líneas</p>
                    {% endfor %}
    
                </div>
        </form>
        <div class="fixed justify-center w-[100%] h-[100%] items-center modal hidden top-0 left-0">
            <div class="w-[75%] h-[75%] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] bg-greenDark rounded-lg shadow-lg z-10 relative modal-content">
                <i class="mt-8 text-2xl cursor-pointer fa-regular fa-circle-xmark ml-11 text-green1" id="cerrarModal"></i>
                <p class="mt-20 text-2xl font-bold text-center drop-shadow-lg text-green1">¿Estás seguro de querer rechazar esta reparación?</p>
                <div class="flex items-center justify-center gap-8 mt-20">
                    <button class="w-32 h-16 p-5 transition rounded-xl bg-clay text-greenDark hover:scale-110" id="rechazarConfirm">SÍ</button>
                    <button class="w-32 h-16 p-5 transition rounded-xl bg-green1 text-greenDark hover:scale-110" id="rechazarNo">NO</button>
                </div>
            </div>

            <div class="absolute top-0 left-0 z-0 hidden w-screen h-screen opacity-65 bg-slate-500 fondoModal"></div>
        </div>

    </div>
</div>  
<script>
    $(document).ready(function(){
        //$(".modal").hide();
        $(".reparacionesVolver").on("click",function(){
            location.href = "{% url 'mecanico'%}"
        })
        $("#cerrarModal").on("click",function(){
            $(".modal").hide(200);
        })
        $(".rechazar").on("click", function(){
            $(".modal").show(500);
        });

        $("#rechazarNo").on("click", function(){
            $(".modal").hide(200);
        });

        $("#rechazarConfirm").on("click", function(){
            location.href = "{% url 'rechazar_reparacion' id_reparacion=reparacion.id%}"
        });

        $(".crearLinea").hide();
        $(".agregarLinea").on("click", function(){
            $(".crearLinea").show(1000);
        });
        $(".opcion").on("click", function(){
            $(".opcion").removeClass("shadow-lg");
            $(this).addClass("shadow-lg shadow-clay fill-red-700");
            
            if($(this).hasClass("mecanico")){
                $(".inputs").empty();
                $(".inputs").append($("<div>").addClass("inputContainer").append("<label>",{text:"Descripción"}).append("<input>",{type:"text"}));
            }
        });
    })
</script>
{% endblock %}