{% load static %}
<!-- ctrl alt t to order tailwind -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              green1: "#42b883",
              greenDark : "#347474",
              greenDarkest: "#35495e",
              clay : "#ff7e67"
            }
          }
        }
      }
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    </style>
    <style type="text/tailwindcss">
        @layer utilities {

        }
    </style>
    <link href="{% static 'main.css'%}" rel="stylesheet">

    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>